/* ==========================================================================
   Layouts Header
========================================================================== */

.header {
  $h: &;
  position: fixed;
  top: 0;
  left: 0;
  z-index: zi(header);
  width: 100%;
  padding: 48px 0;
  background-color: color(white);
  transition: all .4s ease;
  @include large {
    padding: 24px 0;
  }
  @include medium {
    padding: 16px 0;
    &::before {
      content: "";
      position: fixed;
      top: 72px;
      left: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(color(black, 1), 0.75);
      transition: all 0.75s ease 0.7s;
      @include small {
        top: 72px;
      }
      .show-menu & {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }
    }
  }
  .scroll-down &,
  .header-on-scroll & {
    transition: all 0.5s ease;
    #{$h} {
      &__logo__img {
        height: 48px;
        transition: all 0.3s ease;
        @include medium {
          height: 40px;
        }
      }
      &__nav {
        &__btn {
          .btn {
            padding-top: 12px;
            padding-bottom: 12px;
          }
        }
        &__list {
          margin: 12px 0;
        }
      }
    }
  }
  // header scroll dorn
  .scroll-down & {
    transform: translateY(-100%);
    box-shadow: none;
  }
  // header on scroll
  .header-on-scroll & {
    padding: 24px 0;
    @include shadow(5);
    @include large {
      padding: 16px 0;
    }
    @include small {
      padding: 12px 0;
    }
  }
  // header logo
  &__logo {
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 120px;
    @include small {
      padding: 4px 0;
    }
    &__img {
      height: 60px;
      display: block;
      transition: all 0.3s ease;
      @include medium {
        height: 40px;
      }
      @include small {
        height: 32px;
      }
    }
  }
  // header nav
  &__nav {
    position: relative;
    @include clearfix;
    // header menu
    &__menu {
      @include medium {
        position: fixed;
        @include scroll("y", "touch", "show");
        width: 100%;
        top: 72px;
        left: 0;
        bottom: 0;
        margin-left: 0;
        background-color: color(primary);
        padding: 56px 24px 64px;
        transform: scaleY(0);
        transition: all 0.45s ease;
        transform-origin: top center;
        transition-delay: 0.55s;
        .show-menu & {
          transform: none;
          transition-delay: 0s;
        }
      }
      @include small {
        top: 72px;
        padding: 40px 24px 56px;
      }
    }
    &__list {
      float: left;
      list-style: none;
      padding: 0;
      margin: 22px 0;
      @include medium {
        float: none;
        display: block;
        margin: 0 0 48px;
      }
    }

    &__item {
      float: left;
      margin-right: 40px;
      @include font-size(h5);
      font-weight: fw(medium);
      @include medium {
        float: none;
        display: block;
        margin-right: 0;
        margin-bottom: 32px;
        transform: translateY(12px);
        opacity: 0;
        transition: all 0.5s ease;
        @for $i from 1 through 4 {
          $delay: 220 - ($i * 30) + ms;
          &:nth-child(#{$i}) {
            transition-delay: $delay;
          }
        }
        .show-menu & {
          transform: none;
          opacity: 1;
          @for $i from 1 through 4 {
            $delay: 350 + ($i * 50) + ms;
            &:nth-child(#{$i}) {
              transition-delay: $delay;
            }
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      text-decoration: none;
      display: block;
      color: color(black, 1);
      opacity: .5;
      transition: all .2s ease;
      @include medium {
        @include font-size(h4);
        padding-top: 8px;
        padding-bottom: 8px;
        display: block;
        color: color(white);
      }
      &:hover {
        opacity: 1;
      }

      &--active {
        opacity: 1;
        font-weight: fw(black);
      }
    }

    &__btn {
      float: right;
      @include medium {
        float: none;
      }
    }
  }

  .burger-menu {
    display: none;
    @include medium {
      display: block;
      float: right;
      &__bar {
        transition: all 0.4s ease 0.6s;
        .show-menu & {
          &:nth-child(1) {
            transform: rotate(135deg) translate(5px, -5px);
            transition-delay: .1s;
          }
          &:nth-child(2) {
            transform: scale(0);
            opacity: 0;
            transition-delay: 0s;
          }
          &:nth-child(3) {
            transform: rotate(-135deg) translate(6px, 6px);
            transition-delay: .1s;
          }
        }
      }
    }
  }
}
