//- ------------------------------------------------------------------------ -//
//- Floating Chat                                                            -//
//- ------------------------------------------------------------------------ -//

//floating-chat
.floating-chat
  ='\n'
  a.floating-chat__box(href='#')
    ='\n'
    img.floating-chat__img(src='assets/img/icon/comment.svg' alt='comment')/
