//-------------------------------------------------------------------------------
  @name: Testimonials Item
  -------------------------------------------------------------------------------//

//testimonials-item
.testimonials__item
  .testimonials__box
    .testimonials__head
      .testimonials__avatar
        img.testimonials__avatar__el(src='assets/img/dummy/'+data.img alt=data.name)/
      .testimonials__txt
        h3.testimonials__name
          | !{data.name}
        p.testimonials__position
          | !{data.position}
    .testimonials__body
      p.testimonials__desc
        | !{data.desc}
