/* ==========================================================================
 Init: Fonts
 ========================================================================== */

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.eot');
  src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Helvetica.svg#Helvetica') format('svg'),
       url('../fonts/Helvetica.ttf') format('truetype'),
       url('../fonts/Helvetica.woff') format('woff'),
       url('../fonts/Helvetica.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Roman.eot');
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg'),
       url('../fonts/AvenirLTStd-Roman.ttf') format('truetype'),
       url('../fonts/AvenirLTStd-Roman.woff') format('woff'),
       url('../fonts/AvenirLTStd-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Data Warehouse';
  src:  url('../fonts/icon/Data-Warehouse.eot?58qygg');
  src:  url('../fonts/icon/Data-Warehouse.eot?58qygg#iefix') format('embedded-opentype'),
    url('../fonts/icon/Data-Warehouse.ttf?58qygg') format('truetype'),
    url('../fonts/icon/Data-Warehouse.woff?58qygg') format('woff'),
    url('../fonts/icon/Data-Warehouse.svg?58qygg#Data-Warehouse') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
