/* ==========================================================================
   Components Example
   ========================================================================== */

.item {
  &__box {
    border-radius: 8px;
    @include shadow(8);
    overflow: hidden;
  }
  &__img {
    position: relative;
    padding-bottom: 64%;
    &__el {
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
    }
  }
  &__text {
    padding: 24px 32px;
  }
  &__title {
    @include font-size(h3);
  }
  &__desc {
    margin-bottom: 0;
  }
}
