/* ==========================================================================
   Elements Burger Menu
  ========================================================================== */

.burger-menu {
  position: relative;
  border: 0;
  outline: 0;
  z-index: zi(burger-menu);
  width: 48px;
  height: 48px;
  font-size: 0;
  line-height: 1;
  padding: 12px;
  text-align: right;
  cursor: pointer;
  background-color: transparent;
  @include remove-tap-highlight;
  &__bar {
    width: 16px;
    height: 2px;
    display: inline-block;
    margin-bottom: 7px;
    background-color: color(black, 1);
    border-radius: 1px;
    transform-origin: center center;
    transition: all .4s ease;
    // transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    &:nth-child(2) {
      width: 24px;
    }
    &:nth-child(3) {
      width: 20px;
      margin-bottom: 0;
    }
  }
}
