/* ==========================================================================
  Elements Button
  ========================================================================== */

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 170px;
  padding: 18px 40px;
  border-radius: 55px;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: 1px solid transparent;
  @include font-size(h5);
  background-color: transparent;
  @include remove-tap-highlight;
  transition: all 350ms ease;
  font-weight: fw(bold);
  &--primary {
    background-color: color(primary);
    color: color(white);
    &:hover {
      background-color: transparent;
      color: color(primary);
      border-color: color(primary);
    }
  }
  &--secondary {
    background-color: color(secondary);
    color: color(white);
    &:hover {
      background-color: transparent;
      color: color(secondary);
      border-color: color(secondary);
    }
  }
  &--white {
    background-color: color(white);
    color: color(black);
    @include shadow(5);
    i {
      display: inline-block;
      vertical-align: middle;
      color: color(primary);
      margin-left: 24px;
      transition: all .3s ease;
    }
    &:hover {
      i {
        transform: translateX(8px);
      }
    }
  }
}
