/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  primary: #9c69e2,
  secondary: #f063b8,
  tertiary: rgba(240, 99, 184, .15),
  black: #212353,
  grey: #4b5d68,
  white: #fff,
  overlay: rgba(#000, 0.7),
  facebook: #4267b2,
  twitter: #1da1f2,
  instagram: #ee7d33,
  whatsapp: #4fce5d,
  mail: #ea4335,
);
