/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  banner-img-el: 1,
  banner-txt: 2,
);
