/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  burger-menu: 6,
  banner-img-el: 1,
  banner-txt: 2,
  floating-chat: 8,
  footer: 1,
  footer-title: 1,
  footer-sosmed-icon: 1
);
